{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->#}
{#<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->#}
{#<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->#}
{#<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->#}
{#<!--[if gt IE 9]><!--><html class="no-js" lang="zh"><!--<![endif]-->#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>刘老师在线</title>#}
{#    <link rel="icon" type="image/x-icon" href="{% static 'image/logo.ico' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">#}
{#    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />#}
{#    <link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css' />#}
{#</head>#}
{#<body>#}
{#    <!-- Home -->#}
{#    <div class="container-fluid">#}
{#		<div id="remind" class="panel" style="margin-top: 60px">#}
{#			<div class="content">#}
{#				<h2>重点事件</h2>#}
{#                <br>#}
{#				<p>微信群不再发布关键上课信息，全部访问该公告牌查看</p>#}
{#                <br>#}
{#                <p>请大家保存好公告牌地址--http://49.232.147.132:8000/billboard</p>#}
{#			</div>#}
{#		</div>#}
{#		<!-- /Home -->#}
{##}
{#		<!-- Portfolio -->#}
{#		<div id="plan" class="panel">#}
{#			<div class="content">#}
{#				<h2>课程进度</h2>#}
{#				<ul id="works">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">#}
{#                            <img src="{% static 'image/portfolio_01.jpeg' %}"height="100%" width="100%">#}
{#                        </div>#}
{#                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">#}
{#                            <p>一年级：2019-11-16（周六）</p></li>#}
{#                            <p>Python基础(四)--字典练习、函数使用</p>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="row" style="margin-top: 20px">#}
{#                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">#}
{#                            <img src="{% static 'image/portfolio_03.jpeg' %}" height="100%" width="100%">#}
{#                        </div>#}
{#                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">#}
{#                            <p>二年级：2019-11-17（周日）</p>#}
{#                            <p>接口框架开发(一)--Excel引擎开发</p>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#				</ul>#}
{##}
{#			</div>#}
{#		</div>#}
{#		<!-- /Portfolio -->#}
{##}
{#		<!-- About -->#}
{#		<div id="homework" class="panel">#}
{#			<div class="content">#}
{#				<h2>本周作业</h2>#}
{#                <div class="row" style="margin-top: 20px">#}
{#                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">#}
{#                        <img src="{% static 'image/portfolio_02.jpeg' %}" height="100%" width="100%">#}
{#                    </div>#}
{#                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">#}
{#                        <div class="row">#}
{#                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                                <p style="font-weight: bold">一年级</p>#}
{#                                <p style="font-weight: bold">完成题库中以下编号的练习：#}
{#35 40 42 43 47 50 52 54 58 59#}
{#</p>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="row" style="margin-top: 30px">#}
{#                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                                <p style="font-weight: bold">二年级</p>#}
{#                                <p style="font-weight: bold">完成 查询会议列表接口、添加嘉宾接口、嘉宾签到接口#}
{#</p>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#			</div>#}
{#		</div>#}
{#		<!-- /About -->#}
{##}
{#		<!-- Contact -->#}
{#		<div id="contact" class="panel">#}
{#			<div class="content">#}
{#				<h2>联系我们</h2>#}
{#				<p>北京市朝阳区北方明珠大厦1号楼2103</p>#}
{#                <br>#}
{#                <br>#}
{#				<p>地铁5号线、13号线 立水桥站 向南</p>#}
{#                <br>#}
{#                <br>#}
{#                <p>联系电话：15810215321</p>#}
{#                <div class="row" style="margin-top: 20px">#}
{#                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">#}
{#                        <img src="{% static 'image/3.jpg' %}" height="100%" width="100%">#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">#}
{#                        <img src="{% static 'image/1.jpg' %}" height="100%" width="100%">#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">#}
{#                        <img src="{% static 'image/2.jpg' %}" height="100%" width="100%">#}
{#                    </div>#}
{#                </div>#}
{#			</div>#}
{#		</div>#}
{#		<!-- /Contact -->#}
{##}
{#		<!-- Header with Navigation -->#}
{#		<div id="header">#}
{#			<h1>刘老师公告牌</h1>#}
{#			<ul id="navigation">#}
{#				<li style="font-weight: bold"><a id="link-remind" href="#remind">重点事件</a></li>#}
{#				<li style="font-weight: bold"><a id="link-plan" href="#plan">课程进度</a></li>#}
{#				<li style="font-weight: bold"><a id="link-homework" href="#homework">本周作业</a></li>#}
{#				<li style="font-weight: bold"><a id="link-contact" href="#contact">上课地址</a></li>#}
{#			</ul>#}
{#		</div>#}
{#        <nav class="navbar navbar-inverse navbar-fixed-top">#}
{#          <div class="container-fluid">#}
{#            <!-- Brand and toggle get grouped for better mobile display -->#}
{#            <div class="navbar-header">#}
{#              <a class="navbar-brand" href="#" style="font-size: 24px;color: white">刘老师公告牌</a>#}
{#            </div>#}
{##}
{#            <!-- Collect the nav links, forms, and other content for toggling -->#}
{#            <div class="collapse navbar-collapse">#}
{#              <ul class="nav navbar-nav">#}
{#                <li class="active" style="font-size: 20px;margin-left: 30px"><a id="link-remind" href="#remind">重点事件</a></li>#}
{#                <li style="font-size: 20px;margin-left: 30px"><a id="link-plan" href="#plan">课程进度</a></li>#}
{#                <li style="font-size: 20px;margin-left: 30px"><a id="link-homework" href="#homework">本周作业</a></li>#}
{#                <li style="font-size: 20px;margin-left: 30px"><a id="link-contact" href="#contact">上课地址</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{#        </nav>#}
{#    </div>#}
{#</body>#}
{#</html>#}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>刘老师在线</title>

<link rel="icon" type="image/x-icon" href="{% static 'image/logo.ico' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<style type="text/css">
    p {font-size: 16px;color: #6f6c6c; font-weight: bold}
    a {font-size: 16px;color: #1b6d85; font-weight: bold}
	.demo{background: #87cfe6;padding: 1.5em 0;}
	a:hover,a:focus{outline: none;text-decoration: none;}
	.tab .nav-tabs{position: relative;border-bottom: 0 none;}
	.tab .nav-tabs li{text-align: center;}
	.tab .nav-tabs li a{display: block;height: 70px;line-height: 65px;background: linear-gradient(165deg, transparent 29%, #908a78 30%);font-size: 15px;font-weight: 600;color: #fff;text-transform: uppercase;margin-right: 0;border-radius: 0;border: none;position: relative;transition: all 0.5s ease 0s;}
	.tab .nav-tabs li.active a,.tab .nav-tabs li a:hover{background: linear-gradient(165deg, transparent 29%, #efe8d5 30%);border: none;color: #908a78;}
	.tab .nav-tabs li a:before{content: "";height: 70px;line-height: 90px;border-bottom: 70px solid rgba(0, 0, 0, 0.1);border-right: 10px solid transparent;position: absolute;top: 0;left: 100%;z-index: 1;}
	.tab .nav-tabs li:last-child a:before{border: none;}
	.tab .tab-content{font-size: 14px;color: #6f6c6c;line-height: 26px;background: #efe8d5;padding: 20px;}
	.tab .tab-content h3{font-size: 24px;color: #6f6c6c;margin-top: 0;}
	.tab .tab-content p{margin-bottom: 0;}
	@media only screen and (max-width: 480px){
		.tab .nav-tabs li{width: 33%;margin-bottom: 8px;}
		.tab .nav-tabs li:last-child{margin-bottom: 0;}
		.tab .nav-tabs li a:before{border: none;}
		.tab .nav-tabs li a{font-size: 0.8em;}
	}
</style>

</head>
<body>

<div class="demo">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="tab" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">重点事件</a></li>
						<li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">本周作业</a></li>
						<li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">课程进度</a></li>
                        <li role="presentation"><a href="#Section4" aria-controls="video" role="tab" data-toggle="tab">视频地址</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content tabs">
						<div role="tabpanel" class="tab-pane fade in active" id="Section1">
							<h3>重点事件</h3>
                            <br>
							<p>微信群不再发布关键上课信息，全部访问该公告牌查看</p>
                            <br>
                            <p>请大家保存好公告牌地址--http://49.232.147.132:8000/billboard</p>
							<br>
							<p style="color: red">二年级上课请安装好两个Python库：requests、xlwings</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Section2">
							<h3>本周作业</h3>
                                <br>
							    <p>一年级：</p></li>
                                <p>完成题库中练习61-74</p>
                                <br>
                                <p style="font-weight: bold">二年级：</p>
                                <p style="font-weight: bold">独立完成 课上接口框架开发代码
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Section3">
							<h3>课程进度</h3>
                            <br>
							<p>一年级：2019-11-23（周六）</p>
                            <p>Python基础(五)--面对对象、模块使用</p>
                            <br>
                            <p>二年级：2019-11-24（周日）</p>
                            <p>接口框架开发(二)--Excel引擎开发</p>
						</div>

                        <div role="tabpanel" class="tab-pane fade" id="Section4">
							<h3>视频地址</h3>
                            <a href="https://pan.baidu.com/s/1Bt6S7ZnZGZfNYnaS3-Eobg&shfl=shareset">一年级视频地址</a>
                            <p>提取码: xwjf </p>
                            <br>
                            <a href="https://pan.baidu.com/s/1IztBG-DKOR8yIn_c2EnUHA">二年级视频地址</a>
                            <p>提取码: sxz1</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>